<h1>Listing sources</h1>


<%= link_to 'New source', new_source_path %>


<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @sources.each do |source| %>
    <tr>
      <td><%= source.title %></td>
      <td><%= source.abstract %></td>
      <td><%= link_to 'Show', source_path(source) %></td>
    </tr>
  <% end %>
</table>
