<div class="navDropdown gFont2">

    <form ng-submit="$ctrl.submitLogin()">

      <span class="navElements col-xs-10 col-lg-5">
        <input ng-model="$ctrl.loginDetails.email" class="form-control" placeholder="Enter your email">
      </span>

      <span class="navElements col-xs-10 col-lg-5">
        <input ng-model="$ctrl.loginDetails.password" class="form-control" placeholder="Enter your password">
      </span>

      <span class="navElements col-xs-3 col-lg-1">
        <button type="submit" class="btn btn-primary navBtn gFont2">Log In </button>
      </span>

    </form>
    
</div>
