<div class="navDropdown">

  <form ng-submit="$ctrl.submitLogin()">

    <span class="navElements col-xs-10 col-md-5 col-lg-5">
        <input ng-model="$ctrl.loginDetails.email" class="form-control" placeholder="Enter your email">
      </span>

    <span class="navElements col-xs-10 col-md-5 col-lg-5">
        <input ng-model="$ctrl.loginDetails.password" type="password" class="form-control" placeholder="Enter your password">
      </span>

    <span class="navElements col-xs-2 col-md-2 col-lg-2 pull-right">
        <button type="submit" class="btn btn-primary login-signup">Login </button>
      </span>

  </form>
  <div class="col-xs-12">
    <p ng-if="$ctrl.error">Wrong username or password</p>
  </div>
</div>
