<div class="container">

  <div class="pull-left">
    <p><input ng-model="$ctrl.word" type="text">
      <span ng-repeat="word in $ctrl.synonyms">{{word}}, </span>
    <a class="btn btn-info" ng-click="$ctrl.getSynonyms($ctrl.word)">Pontificate!</a></p>
  </div>

  <div class="pull-right">
    <p><a class="btn btn-info" ui-sref="sourceNew">New Source</a></p>
  </div>

  <!-- sources and showForm variables are bound from the Main controller -->
  <wa-new-source-form sources="$ctrl.sources" show-form="$ctrl.showForm" ng-if="$ctrl.showForm"></wa-new-source-form>

  <!-- remember when binding to pass in the variables/data you're passing to a new controller -->
  <wa-source ng-repeat="source in $ctrl.sources" source="source"></wa-source>
</div>
