<!-- ================================================= -->
<!-- SPLASH NAVBAR -->

<!-- Add ng-if logic for splash page and default to the other NAVBAR -->
<!-- May have to used something like $routeChangeSuccess or $locationChangeSuccess or $location  location.path or ng-switch-when and ng-default -->

<!-- <nav >
  <div class="splashNav">
      <div class="navbar-header navbarTop gFont2">

          <span class="signup">
            <a href="#" ng-click="$ctrl.toggleSignup=!$ctrl.toggleSignup">Sign Up</a>
          </span>

          <span class="login pull-right">
            <a href="#" ng-click="$ctrl.toggleLogin=!$ctrl.toggleLogin">Login</a>
          </span>

      </div>

      <div class="navbarSignup">
          <wa-signup-form ng-if="$ctrl.toggleSignup"></wa-signup-form>
      </div>

      <div class="navbarLogin ">
          <wa-login-form ng-if="$ctrl.toggleLogin"></wa-login-form>
      </div>
  </div>
</nav> -->


<!-- ================================================= -->
<!-- NAVBAR -->


<nav class="navbar navbarTop gFont2">
            <h2 class="navTitle">Well, Actually</h2>

    <!-- Sidebar Menu  -->
    <div ng-if="$ctrl.showMenu">
        <input type="checkbox" ng-model="$ctrl.menuToggler" id="sidebartoggler" name="" value="">

        <div class="page-wrap">

            <label for="sidebartoggler" class="toggle">
        <div class="glyphicon glyphicon-option-vertical">

        </div>
    </label>

            <div class="sidebar">
                <ul>
                    <li>
                        <div>
                            <img src="{{$ctrl.userPhoto}}" alt="user image" class="menuPhoto">
                        </div>
                    </li>
                    <li>Wins: {{$ctrl.wins}}</li>
                    <li>Friends Lost: {{$ctrl.friendsLost}}</li>
                    <hr>
                    <li><a ui-sref="sources" ng-click="$ctrl.retractMenu()">Dashboard</a></li>
                    <li><a ui-sref="profile({ id: $ctrl.user.id })" ng-click="$ctrl.retractMenu()">Profile</a></li>
                    <li><a ui-sref="splash" ng-click="$ctrl.retractMenu()">About</a></li>
                    <hr>
                    <li><a ng-click="$ctrl.logout()" id="logoutHover">Logout</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>
