<div class="navDropdown">

    <form ng-submit="$ctrl.submitSignup()">

      <span class="navElements col-xs-10 col-md-5 col-lg-5">
        <input ng-model="$ctrl.signupDetails.email" class="form-control" placeholder="Enter your email">
      </span>

      <span class="navElements col-xs-10 col-md-5 col-lg-5">
        <input ng-model="$ctrl.signupDetails.password" type="password" class="form-control" placeholder="Enter a password">
      </span>

      <span class="navElements col-xs-2 col-md-2 col-lg-2">
        <button type="submit" class="btn btn-primary login-signup">Sign Up</button>
      </span>

    </form>

</div>
