<div class="navDropdown gFont2">

    <form ng-submit="$ctrl.submitSignup()">

      <span class="navElements col-xs-10 col-lg-5">
        <input ng-model="$ctrl.signupDetails.email" class="form-control" placeholder="Enter your email">
      </span>

      <span class="navElements col-xs-10 col-lg-5">
        <input ng-model="$ctrl.signupDetails.password" class="form-control" placeholder="Enter a password">
      </span>

      <span class="navElements col-xs-3 col-lg-1">
        <button type="submit" class="btn btn-primary navBtn gFont2">Sign Up</button>
      </span>

    </form>
    
</div>
