<wa-nav></wa-nav>

<div class="container character">

  <div class="row">

        <div class="col-xs-12 col-md-12 col-lg-12">

            <div class="well well-space  singleSource">

                <div class="media-left">
                    <img class="media-object">
                </div>

                <div class="media-body">

                  <h4 class="media-heading title">
                    <a ui-sref="sourceShow({ id: $ctrl.source.id })">{{$ctrl.source.title}}</a>

                    |
                    <a ui-sref="sourceEdit({ id: $ctrl.source.id })" class="glyphicon glyphicon-pencil icon" data-toggle="tooltip" title="edit source"></a> |


                  <a href="{{$ctrl.source.link}}" class="glyphicon glyphicon-globe icon" data-toggle="tooltip" title="go to source"></a>
    </h4>

                    <p>Argument Wins: <strong>{{$ctrl.source.wins}} </strong><a ng-click="$ctrl.addWin()"><i class="fa fa-trophy trophy" aria-hidden="true"></i></a></p>

                    <p>Friends Lost: <strong>{{$ctrl.source.friends_lost}} </strong><a ng-click="$ctrl.loseFriend()"><i class="fa fa-users" aria-hidden="true"></i></a></p>

                    <p class="abstract">
                        {{$ctrl.source.abstract}}
                    </p>
                </div>
            </div>
        </div>
            <wa-pontificator></wa-pontificator>


    </div>
</div>
