<wa-nav></wa-nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-offset-md-2">

      <form ng-submit="$ctrl.updateSource()">
        <div>

          <!-- TITLE -->
          <label for="title">Title</label>
          <input
          ng-model="$ctrl.editSource.title"
          id="title"
          required
          class="form-control">
        </div>

        <!-- LINK -->
        <div>
          <label for="link">Link</label>
          <input
          ng-model="$ctrl.editSource.link"
          id="link"
          required
          type="url"
          class="form-control">
        </div>

        <!-- ABSTRACT -->
        <div>
          <label for="abstract">Abstract</label>
          <textarea
          ng-model="$ctrl.editSource.abstract"
          id="abstract"
          class="form-control">
          </textarea>
        </div>

        <!-- JOURNAL -->
        <div>
          <label for="journal">Journal</label>
          <input
          ng-model="$ctrl.editSource.journal"
          id="journal"
          class="form-control">
        </div>

        <!-- NOTES -->
        <div>
          <label for="notes">Notes</label>
          <textarea
          ng-model="$ctrl.editSource.notes"
          id="notes"
          class="form-control">
          </textarea>
        </div>

        <!-- TAGS -->
        <wa-tag-form-input tags="$ctrl.editSource.tags"></wa-tag-form-input>
        <div class="form-group sourceEditButtons ">

          <span class="sourceEditButton">
          <button type="submit" class="btn btn-primary">
          Update Source
         </button>
         </span>

         <span class="sourceEditButton">
         <button ng-click="$ctrl.deleteSource()" class="btn btn-primary">
         Delete Source
         </button>
         </span>

         <span class="sourceEditButton">
         <a ui-sref="sources" class="btn btn-info">
        Cancel</a>
         </span>

        </div>
      </form>

    </div>
  </div>
</div>
