<div class="container">

  <div class="row">
    <div class="col-md-2">
      <wa-pontificator></wa-pontificator>
    </div>


    <div class="col-md-10">

      <div class="well">
        <div class="media-left">
          <img class="media-object">
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            <a ui-sref="#">{{$ctrl.source.title}}</a>
            |
            <a ui-sref="sourceEdit({ id: $ctrl.source.id })">edit</a>
          </h4>
          <p><a href="{{$ctrl.source.link}}">Go to the Source!</a></p>
          <p>Argument Wins: <strong>{{$ctrl.source.wins}} </strong><a ng-click="$ctrl.addWin()"><i class="glyphicon glyphicon-arrow-up"></i></a></p>

          <p>Friends Lost: <strong>{{$ctrl.source.friends_lost}} </strong><a ng-click="$ctrl.loseFriend()"><i class="glyphicon glyphicon-arrow-up"></i></a></p>
          <p>
            {{$ctrl.source.abstract}}
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
