<!-- If stuff doesn't work look at whether you need to locate variables on $ctrl -->
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">

        <div class="well well-space">

            <div class="media-left">
                <img class="media-object">
            </div>

            <div class="media-body">
                <h4 class="media-heading title">
                  <a ui-sref="sourceShow({ id: $ctrl.source.id })">{{$ctrl.source.title}}</a>

                  |
                  <a ui-sref="sourceEdit({ id: $ctrl.source.id })" class="glyphicon glyphicon-pencil icon" data-toggle="tooltip" title="edit source"></a> |


                <a href="{{$ctrl.source.link}}" class="glyphicon glyphicon-globe icon" data-toggle="tooltip" title="go to source"></a>
  </h4>
                <div class="abstract">
                  <p ng-repeat="paragraph in $ctrl.abstractArray track by $index">{{paragraph}}</p>
                </div>
                <p><span class="label label-default tags" ng-repeat="tag in $ctrl.source.tags" ng-click="$ctrl.selectTag(tag)">{{tag}}</span></p>
            </div>
        </div>

    </div>
</div>
