<wa-nav></wa-nav>

<div class="container">

    <div class="pull-right">
      <!-- GET BACK TO BUTTON STYLING!!!! -->
        <p><a class="btn btn-info glyphicon glyphicon-plus" ui-sref="sourceNew">
          <!-- New Source -->
        </a></p>
    </div>

  <wa-sources-filter-sort sort-option="$ctrl.sortOption" sort-options="$ctrl.sortOptions" filter="$ctrl.filter" selected-tags="$ctrl.selectedTags"></wa-sources-filter-sort>

  <!-- remember when binding to pass in the variables/data you're passing to a new controller -->
  <wa-source ng-repeat="source in $ctrl.sources | filter:$ctrl.filter | orderBy:$ctrl.sortOption.property" source="source" selected-tags="$ctrl.selectedTags"></wa-source>
</div>
