<wa-nav></wa-nav>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">

      <form ng-submit="$ctrl.updateSource()">
        <div>

          <!-- TITLE -->
          <label class="forms" for="title">{{$ctrl.editSource.title}}</label>
          <input
          ng-model="$ctrl.editSource.title"
          id="title"
          required
          class="form-control">
        </div>

        <!-- LINK -->
        <div>
          <label class="forms" for="link">Link</label>
          <input
          ng-model="$ctrl.editSource.link"
          id="link"
          required
          type="url"
          class="form-control">
        </div>

        <!-- ABSTRACT -->
        <div>
          <label class="forms" for="abstract">Abstract</label>
          <textarea
          ng-model="$ctrl.editSource.abstract"
          id="abstract"
          class="form-control">
          </textarea>
        </div>

        <!-- JOURNAL -->
        <div>
          <label class="forms" for="journal">Journal</label>
          <input
          ng-model="$ctrl.editSource.journal"
          id="journal"
          class="form-control">
        </div>

        <!-- NOTES -->
        <div>
          <label class="forms" for="notes">Notes</label>
          <textarea
          ng-model="$ctrl.editSource.notes"
          id="notes"
          class="form-control">
          </textarea>
        </div>

        <!-- TAGS -->
        <wa-tag-form-input tags="$ctrl.editSource.tags"></wa-tag-form-input>
        <div class="form-group sourceEditButtons ">
          <br>

          <a ui-sref="sources" class="btn btn-primary cancelBtn">
         Cancel</a>



          <button type="submit" class="btn btn-primary cancelBtn">
          Update
         </button>



         <button ng-click="$ctrl.deleteSource()" class="btn btn-primary cancelBtn pull-right">
         Delete Source
         </button>




        </div>
      </form>

    </div>
  </div>
</div>
