/*OVERALL STYLE SETTINGS*/


/*====================*/

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: #E9E8F7;
    /*rgba(48, 89, 145, 0.1);*/
}

.container {
  padding-top: 60px;
}

.navbar {
  position: fixed;
  border-radius: 0;
  z-index: 20;
}

/*Rounding input corners*/


/*Need to fix color contrast*/

* input {
  margin: 0;
}

.btn {
  margin: 5px;
  background-color: #57C794;
  border: none;
}


/*UNDO DEFAULTS*/


/*====================*/

a {
    all: unset;
}

a:visited {
    all: unset;
}


/*GOOGLE FONT SECTION*/


/*====================*/


/*Blocky Font*/

.gFont1 {
    font-family: 'Montserrat Subrayada', sans-serif;
}

.gFont2 {
    font-family: 'Architects Daughter', cursive;
}

.gFont3 {
    font-family: 'Varela Round', sans-serif;
}


/*OVERALL NAVBAR*/
.navbar {
  height: 30px;
}

.navTitle {
  margin: 0;
  padding: 5px;
}


/*===================================================================*/


/*NAVBAR*/


/*SPLASH NAVBAR*/
/*====================*/

.navbarTop {
    /*Color experiment*/
    background-color: #57C794;
    /*rgba(48, 89, 145, 0.8);*/
    /*Added Font Stretch*/
    font-stretch: expanded;
    font-size: 20px;
    font-weight: 900;
    color: white;
    text-decoration: none;
    /*padding: .9em;*/
    margin: 0;
    width: 100%;
}

/*THIS BACKGROUND DOES NOT SHOW UP ONCE YOU MAKE RESPONSIVE COLUMNS*/

.navDropdown {
  display: block;
    background-color: black;
    /*rgba(48, 89, 145, 0.2);*/
    padding: 10px auto 10px auto;
    /*margin: 0;*/
}

.navbarSignup, .navbarLogin {
    width: 100%;
    margin: 0;
}


/*Input fields*/

.navElements {
    margin-top: 8px;
    display: inline-block;
}

.navBtn {
    background-color: rgba(48, 89, 145, 0.8);
    align-self: center;
}


/*Navbar/Sidebar Menu*/

/*====================*/

.toggle {
    text-decoration: none;
    font-size: 30px;
    color: black;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 98;
    cursor: pointer;
    transition: .8s;
}

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0px;
    right: -180px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    width: 150px;
    padding: 30px;
    background-color: rgba(65, 65, 65, 0.9);
    z-index: 97;
    transition: .7s;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    margin: 0;
    margin-bottom: 16px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.sidebar li:hover {
    color: white;
}

.sidebar li a:focus {
    background-color: yellow;
}

#sidebartoggler {
    display: none;
}

#sidebartoggler:checked+.page-wrap .sidebar {
    right: 0px;
    transition: .6s;
}

#sidebartoggler:checked+.page-wrap {
    right: 200px;
    transition: .6s;
}

#sidebartoggler:checked+.page-wrap .page-content {
    opacity: .8;
}


/*MENU SECTION*/


/*====================*/

.menuPhoto {
    border-radius: 50%;
    align-items: center;
    width: 100px;
    height: 100px;
}


/*===================================================================*/


/*SPLASH PAGE*/


/*====================*/

/*BACKGROUND*/

.logo {
    background-image: url('../../images/well_actually_logo_lg.gif');
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20%;
    min-height: 350px;
    max-height: 500px;
    height: auto;
}

/*===================================================================*/

/*EDIT PROFILE PAGE*/

/*====================*/

.profileEditButtons {
  align-content: center;
  padding: 10px;
}
