/*OVERALL STYLE SETTINGS*/


/*====================*/

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    /*background-color: #E9E8F7;*/
    /*rgba(48, 89, 145, 0.1);*/
    background-color: rgba(242, 236, 244, 1);
}

.container {
  padding-top: 60px;
}

.navbar {
  position: fixed;
  border-radius: 0;
  z-index: 20;
}

/*Rounding input corners*/


/*Need to fix color contrast*/

* input {
  margin: 0;
}

.btn {
  margin: 5px;
  background-color: rgba(244, 103, 52, 1);
  border: none;
}


/*UNDO DEFAULTS*/


/*====================*/

a {
    all: unset;
}

a:visited {
    all: unset;
}

a:hover {
  text-decoration: none;
  color: white;
}

#logoutHover:hover {
  text-decoration: none;
  color: white;
}
/*GOOGLE FONT SECTION*/

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-success:active:focus, .open>.dropdown-toggle.btn-primary {
  background-color: rgba(244, 103, 52, 0.68) !important;
}
/*====================*/


/*Blocky Font*/


.gFont2 {
    /*font-family: 'Architects Daughter', cursive;*/
    font-family: "Ubuntu", sans-serif;
    font-size: 2em;
}

.gFont3 {
    font-family: 'Varela Round', sans-serif;
}


/*OVERALL NAVBAR*/
.navbar {
  height: 30px;
}

.navTitle {
  margin: 0;
  padding: 5px;
  font-family: "Monoton", "Ubuntu", sans-serif;
}


/*===================================================================*/


/*NAVBAR*/


/*SPLASH NAVBAR*/
/*====================*/

.navbarTop {
    /*Color experiment*/
    background-color: #282828;
    /*rgba(48, 89, 145, 0.8);*/
    /*Added Font Stretch*/
    font-stretch: expanded;
    font-weight: 900;
    color: white;
    text-decoration: none;
    padding: 5px;
    font-family:
    /*padding: .9em;*/
    margin: 0;
    width: 100%;
}

/*THIS BACKGROUND DOES NOT SHOW UP ONCE YOU MAKE RESPONSIVE COLUMNS*/

.navDropdown {
  display: block;
    background-color: black;
    /*rgba(48, 89, 145, 0.2);*/
    padding: 10px auto 10px auto;
    /*margin: 0;*/
}

.navbarSignup, .navbarLogin {
    width: 100%;
    margin: 0;
}


/*Input fields*/

.navElements {
    margin-top: 8px;
    display: inline-block;
}

.navBtn {
    background-color: rgba(48, 89, 145, 0.8);
    align-self: center;
}


/*Navbar/Sidebar Menu*/

/*====================*/

.toggle {
    text-decoration: none;
    /*font-size: 30px;*/
    color: white;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 98;
    cursor: pointer;
    transition: .8s;
}

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0px;
    right: -180px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    width: 150px;
    padding: 30px;
    background-color: rgba(65, 65, 65, 0.9);
    z-index: 97;
    transition: .7s;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    margin: 0;
    margin-bottom: 16px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.sidebar li:hover {
    color: white;
}

#sidebartoggler {
    display: none;
}

#sidebartoggler:checked+.page-wrap .sidebar {
    right: 0px;
    transition: .6s;
}

#sidebartoggler:checked+.page-wrap {
    right: 200px;
    transition: .6s;
}

#sidebartoggler:checked+.page-wrap .page-content {
    opacity: .8;
}


/*MENU SECTION*/


/*====================*/

.menuPhoto {
    border-radius: 50%;
    align-items: center;
    width: 100px;
    height: 100px;
}


/*===================================================================*/


/*SPLASH PAGE*/
.splash{
  background-color: green;
}


/*====================*/

/*BACKGROUND*/

/*.logo {
    background-image: url('../../images/well_actually_logo_lg.gif');
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10%;
    margin-bottom: 10%;
    min-height: 350px;
    max-height: 500px;
    height: auto;
}*/

/*===================================================================*/

/*SOURCES PAGE*/

.abstract {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  max-height: 120px;
  overflow-y: scroll;
}

.tags {
  background-color: rgba(194, 59, 10, 1);
  margin: 2px;
  font-size: 1rgba(244, 103, 52, 1)em;
  box-shadow: 10px 5px 5px rgba(159, 143, 137, 0.98);
  font-size: 1em;
}


/*.media-body {
  margin: auto;
}*/


/*EDIT PROFILE PAGE*/

/*====================*/

/*.profileEditButtons {
  margin: 10px;
}*/

.profile-photo {
  border-radius: 10px;
}

.bio-title {
  margin-top: 2em;
  font-size: 3em;
}

.bio {
  font-size: 1.6em;
}

/*EDIT SOURCE PAGE*/

/*====================*/

.sourceEditButtons {
  display:block;
}

.sourceEditButton {
  display:inline-block;
}

.splashArrow{
  font-size: 2em;
  margin-top: 25%;
}

.login-signup {
  font-size: 1em !important;
  align-self: center;
  background-color: rgba(244, 103, 52, 1);
}

.about{
  font-size: 2em;
  background-color: rgba(244, 103, 52, 0.68);
  border-radius: .3em;
}

.fill{
  height: 20em;
}

.shadow{
  box-shadow: 10px 5px 5px rgba(159, 143, 137, 0.88);
}

.character {
  /*background-image: url(http://biosova.weebly.com/uploads/3/7/3/2/37325809/openbook.png);*/
  background-image: url(http://jonathandallen.com/wp-content/uploads/2013/01/Book-1024x482.png);
  background-repeat: repeat-y;
  background-position: right;
  height: 190em;
}

.well-space {
  margin-bottom: 2em;
  background-color: rgba(194, 175, 168, 0.9);
}

.sourceNew {
  background-color: black;
  color: white !important;
}

.dropdown{
  font-size: 1.2em;
  font-weight: 600;
}

.title {
  font-weight: 600;
}

.icon {
  margin-left: .5em;
  margin-right: .5em;
}

.singleSource{
  margin-top: 3em;
}

.pontificate{
  background-color: rgba(244, 103, 52, 1);
}

.gradCap {
  font-size: 2em;
}

.forms {
  font-size: 2em;
}

.cancelBtn {
  color: white !important;
}


/*Upper Section of Splash Page*/
.logoImg img {
  max-width: 700px;
  min-width: 100px;
  width: 90%;
  display: block;
  padding-top: 18%;
  margin: auto;
}

.spashLogo {
  height: 100%;
}

.upperArrows {
  position: absolute;
  /*height: 90%*/
  width: 89%;
  bottom: 0;
  /*margin: auto;*/
}

.upperArrowRight {
  float: left;
  display: inline-block;
}

.upperArrowRight {
  float: right;
  display: inline-block;
}
