html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*==============*/
    /*CHANGED ONLY TO MAKE IT EASIER ON MY EYES*/
    /* Ideas on colors
    background-color: #f2f0f7;
    /*============*/
}


/* Smartphones (portrait and landscape) ----------- */


    .logo {
        background-image: url('../../images/well_actually_logo_lg.gif');
        display: block;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        /*padding: 50% 0 50% 0;*/
        margin-top: 10%;
        min-height:350px;
        max-height: 500px;
        height: auto;
        /*margin: auto;*/
    }
    /* Styles */



/*position:absolute;*/


/*top:200px;
 left:50px;
 right:800px;
 bottom:0;
 margin:auto;
 min-width:50%;
 min-height:50%;
 max-width: auto;*/


/*padding-top: 200px;
  background-size: cover;*/

/*====================*/
/*SPLASH NAVBAR*/
/*====================*/

.navbarTop {
  background-color: #D5F1EB;
  padding: .8em;
  margin: 0;
  width: 100%;
}
/*=======================*/
/*ANIMATED DROPDOWN*/
/*=========================*/


/*=====================================================================================*/

/*Navbar/Sidebar Menu*/

/*=====================================================================================*/


.toggle {
    text-decoration: none;
    font-size: 30px;
    color: black;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 98;
    cursor: pointer;
    transition: .8s;
}

.sidebar {
    position: fixed;
    top: 45px;
    bottom: 0px;
    right: -180px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    width: 150px;
    padding: 30px;
    background-color: rgba(51, 51, 51, 0.69);
    z-index: 97;
    transition: .7s;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    margin: 0;
    margin-bottom: 16px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.sidebar li:hover {
    color: white;
}

.sidebar li a:focus {
    background-color: yellow;
}

#sidebartoggler {
    display: none;
}

#sidebartoggler:checked+.page-wrap .sidebar {
    right: 0px;
    transition: .6s;
}

#sidebartoggler:checked+.page-wrap {
    right: 200px;
    transition: .6s;
}

#sidebartoggler:checked+.page-wrap .page-content {
    opacity: .8;
}


/*=====================================================================================*/

/* END Navbar/Sidebar Menu*/

/*=====================================================================================*/


/* add additional css here*/

/*=====================================================================================*/
/*MENU SECTION*/
/*=====================================================================================*/


.menuPhoto {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}


/*=====================================================================================*/


/* test */


/*=====================================================================================*/
