<!DOCTYPE html>
<html ng-app="app">

    <head>
        <meta charset="utf-8">
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway|Ubuntu" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

      <!-- font awesome -->
      <script src="https://use.fontawesome.com/3c3263a714.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
        <script src="https://unpkg.com/angular-ui-router@1.0.0-beta.3/release/angular-ui-router.js"></script>
        <script type="text/javascript" src="/javascripts/app.js"></script>
        <script type="text/javascript" src="/javascripts/sourceComponents.js"></script>
        <script type="text/javascript" src="/javascripts/sourceControllers.js"></script>
        <script type="text/javascript" src="/javascripts/app.config.js"></script>
        <script type="text/javascript" src="/javascripts/sourceServices.js"></script>
        <script type="text/javascript" src="/javascripts/authServices.js"></script>
        <script type="text/javascript" src="/javascripts/authComponents.js"></script>
        <script type="text/javascript" src="/javascripts/authControllers.js"></script>

        <!-- GOOGLE FONTS ADDED -->
        <!-- Heavy weight block style font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada" rel="stylesheet">
        <!-- Handwriting style font -->
        <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Montserrat+Subrayada" rel="stylesheet">
          <!-- Plain text style font -->
        <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Montserrat+Subrayada|Varela+Round" rel="stylesheet">

        <link rel="stylesheet" href="/stylesheets/styles.css">
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>Well, Actually</title>
        <base href="/">
    </head>

    <body>
        <!-- <wa-nav></wa-nav> -->
        <ui-view></ui-view>

    </body>
</html>
